/* General reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('../others/cursor.png'), default;
  font-family: consolas, sans-serif;
}

/* Body settings */
body {
  color: #e4e3e3;
  background-color: rgb(13, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden;
  position: relative;
}

/* Full page container */
#myDIV {
  width: 100%;
  height: 100%;
  border-top: 5px solid #1482ad;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

/* Centering the container, with separation between them horizontally */
.container,
.container2,
.container3,
.skip-container {
  position: absolute;
  text-align: center;
  top: 50%; /* All containers vertically centered */
  transform: translateY(-50%); /* Center vertically */
  width: 100%; /* Full width */
}

.container {
  left: 20%; /* Positioned towards the left */
}

.container2 {
  left: 50%; /* Center container */
  transform: translateX(-50%) translateY(-50%); /* Center horizontally and vertically */
}

.container3 {
  left: 80%; /* Positioned towards the right */
}

.skip-container {
  left: 90%; /* Further to the right */
}

/* Custom box for content */
.box {
  padding: 15px;
  background-color: rgb(13, 13, 13);
  color: #e4e3e3;
  border: 1px solid #1482ad;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Make sure background is blurred */
.background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 135%;
  min-height: 110%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -3;
  background-size: cover;
  filter: blur(5px);
  overflow: hidden;
}

/* Center marquee container */
.marquee-container {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
}

#marquee {
  width: 420px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: -4.5px;
  font-size: 15px;
}

/* Footer positioning */
.footer {
  position: absolute;
  bottom: 0;
  right: 5px;
}

/* Ensure no scrollbar is visible */
::-webkit-scrollbar {
  width: 0;
}

/* Pattern background */
#pattern {
  background: transparent url('../others/dot.png') repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 1;
}

/* Prevent scrolling on body */
body {
  overflow-x: hidden;
}

/* Input element styles */
input {
  outline: 0;
  border: none;
  background-color: rgb(13, 13, 13);
  color: #e4e3e3;
  padding: 10px;
  margin: 5px;
}
